<h1><%= @product.name %></h1>
<%= image_tag @product.featured_image if @product.featured_image.attached? %>
<p><%= @product.description %></p>

<%= link_to "Back", products_path %>

<% if authenticated? %>
  <%= link_to "Edit", edit_product_path(@product) %>
  <%= button_to "Delete", @product, method: :delete, data: 
    { turbo_confirm: "Are you sure you wish to delete #{@product.name}?"} %>
<% end %>

<%= render "inventory", product: @product %>